mixin registration()

  -
    const cover = ["content", "registration-cover", "jpg", 759, 1000]
    const logo = ["svg", "logo", "svg", 150, 32]

  section.registration
    .container
      .registration__wrapper
        .registration__cover
          +img(...cover).registration__cover-img
          +img(...logo).registration__logo
        .registration__content
          h1.registration__title Get iintoo it today
          p.registration__title-hint There is no obligation upon registration.
          .registration__socials
            ul.registration__social-list
              li.registration__social-item
                +btn({ iconStart: ["social-facebook", "24", "24"], text: "Register with Facebook"}).btn--facebook.registration__social-btn
              li.registration__social-item
                +btn({ iconStart: ["social-linkedin", "24", "24"], text: "Register with LinkedIn"}).btn--linkedin.registration__social-btn
          p.registration__or-word
            span or
          form(action="/", method="post").registration__form
            .registration__inputs
              ul.registration__input-list
                li.registration__input-item
                  label.registration__input-label
                    span.registration__input-label-text Email
                    input.registration__input(type="email", value="gus.goodwin.com")
                li.registration__input-item
                  label.registration__input-label
                    span.registration__input-label-text Phone
                    input.registration__input(type="tel")
            h1.registration__subtitle What type of investor are you?
            p.registration__subtitle-hint Select the type of investor you are below.
            .registration__radio-inputs
              ul.registration__radio-input-list
                li.registration__radio-input-item
                  label.registration__radio-input-label
                    input.visually-hidden(type="radio", name="investor-type", value="individual", checked)
                    span.registration__radio-input-label-text Individual
                  button.registration__radio-input-btn(type="button") i
                li.registration__radio-input-item
                  label.registration__radio-input-label
                    input.visually-hidden(type="radio", name="investor-type", value="business")
                    span.registration__radio-input-label-text Business
                  button.registration__radio-input-btn(type="button") i
                li.registration__radio-input-item
                  label.registration__radio-input-label
                    input.visually-hidden(type="radio", name="investor-type", value="ira")
                    span.registration__radio-input-label-text IRA
                  button.registration__radio-input-btn(type="button") i
                li.registration__radio-input-item
                  label.registration__radio-input-label
                    input.visually-hidden(type="radio", name="investor-type", value="trust")
                    span.registration__radio-input-label-text Trust
                  button.registration__radio-input-btn(type="button") i
              .registration__current-radio-input-hint I am a natural person investing on my own behalf as a sole owner, joint tenant, or tenant in common.
            .registration__agreement
              label.registration__agreement-label
                input.visually-hidden(type="checkbox", name="agreement")
                span.registration__agreement-label-text I agree to the terms and receiving notifications from iintoo #[a.registration__agreement-link(href="#") View full terms]
            +btn({ type: "submit", text: "Create Account"}).registration__submit-btn


