.registration {
  padding: 100px 0;

  @include vp-1439 {
    padding: 80px 0;
  }

  @include vp-1023 {
    padding: 60px 0;
  }

  @include vp-767 {
    padding: 40px 0;
  }
}

.registration__wrapper {
  display: flex;
  background-color: $color-default-white;

  @include vp-1023 {
    display: block;
  }
}

.registration__cover {
  position: relative;

  flex-grow: 1;
  padding: 40px;

  @include vp-1023 {
    height: 320px;
  }

  @include vp-767 {
    height: 200px;
  }
}

.registration__cover-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.registration__logo {
  position: relative;
  z-index: 2;
}

.registration__content {
  flex-shrink: 0;
  width: 100%;
  max-width: 680px;
  padding: 120px 80px;

  @include vp-1439 {
    padding: 96px 64px;
  }

  @include vp-1023 {
    padding: 72px 48px;
  }

  @include vp-767 {
    padding: 50px 32px;
  }
}

.registration__title {
  margin: 0;

  font-size: 24px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.registration__title-hint {
  margin: 0;

  font-size: 20px;

  color: $color-regent-grey;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.registration__socials {
  margin: 50px 0;

  @include vp-767 {
    margin: 30px 0;
  }
}

.registration__social-list {
  display: flex;
  margin: -15px -20px;
  padding: 0;

  list-style-type: none;

  @include vp-767 {
    display: block;
  }
}

.registration__social-item {
  width: 50%;
  padding: 15px 20px;

  @include vp-767 {
    width: 100%;
    max-width: 320px;
  }
}

.registration__social-btn {
  width: 100%;
}

.registration__or-word {
  position: relative;

  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: 200px;
    height: 1px;

    background-color: $color-whisper;
  }

  span {
    position: relative;
    z-index: 2;

    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;

    background-color: $color-default-white;
  }

  @include vp-767 {
    width: 100%;
    max-width: 280px;
  }
}

.registration__inputs {
  margin: 50px 0;

  @include vp-767 {
    margin: 30px 0;
  }
}

.registration__input-list {
  display: flex;
  margin: -15px -20px;
  padding: 0;

  list-style-type: none;

  @include vp-767 {
    display: block;
  }
}

.registration__input-item {
  width: 50%;
  padding: 15px 20px;

  @include vp-767 {
    width: 100%;
    max-width: 320px;
  }
}

.registration__input-label {
  position: relative;

  display: block;
  width: 100%;
}

.registration__input-label-text {
  position: absolute;
  top: 4px;
  left: 10px;

  display: block;
  max-width: calc(100% - 2 * 10px);

  font-size: 14px;
  color: $color-dark-gray;

  overflow: hidden;
}

.registration__input {
  width: 100%;
  min-height: 55px;
  padding: 9px;
  padding-top: 28px;

  border: 1px solid $color-whisper;
  outline: none;

  transition: border-left-color $trans-default;

  @include hover-focus {
    border-left-color: $color-dodger-blue;
  }
}

.registration__subtitle {
  margin: 0;

  font-size: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.registration__subtitle-hint {
  margin: 0;

  color: $color-regent-grey;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.registration__radio-inputs {
  margin: 50px 0;

  line-height: 1;

  @include vp-767 {
    margin: 30px 0;
    max-width: 280px;
  }
}

.registration__radio-input-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -25px;
  padding: 0;

  list-style-type: none;
}

.registration__radio-input-item {
  padding: 15px 25px;
}

.registration__radio-input-label {
  position: relative;

  cursor: pointer;
}

.registration__radio-input-label-text {
  display: inline-block;
  padding-left: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;

    transition:
      background-color $trans-default,
      border-color $trans-default;
  }

  &::before {
    left: 0;

    width: 16px;
    height: 16px;

    background-color: $color-default-white;
    border: 2px solid $color-dark-gray;
  }

  &::after {
    left: 4px;

    width: 8px;
    height: 8px;

    background-color: $color-transparent;
  }

  input:checked + & {
    &::before {
      background-color: $color-dodger-blue;
      border-color: $color-dodger-blue;
    }

    &::after {
      background-color: $color-default-white;
    }
  }

  @include hover-focus {
    &::before {
      border-color: $color-arapawa;
    }

    input:checked:not(:checked) + & {
      &::before {
        background-color: $color-arapawa;
        border-color: $color-arapawa;
      }
    }
  }
}

.registration__radio-input-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin: 2px 0;
  padding: 1px;

  font-size: 8px;
  line-height: 1;
  vertical-align: top;

  color: $color-nepal;

  background-color: $color-default-white;
  border: 1px solid $color-nepal;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
}

.registration__current-radio-input-hint {
  width: 100%;
  max-width: 280px;
  margin: 30px 0;
  padding: 15px;

  font-size: 14px;
  color: $color-dark-gray;

  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba($color-default-black, 0.2);
}

.registration__agreement {
  margin: 50px 0;

  font-size: 14px;

  @include vp-767 {
    margin: 30px 0;
  }
}

.registration__agreement-label {
  position: relative;

  cursor: pointer;
}

.registration__agreement-label-text {
  display: inline-block;
  padding-left: 24px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    transition:
      background-color $trans-default,
      border-color $trans-default;
  }

  &::before {
    left: 0;

    width: 12px;
    height: 12px;

    background-color: $color-default-white;
    border: 1px solid $color-dark-gray;
  }

  &::after {
    left: 3px;

    width: 6px;
    height: 6px;

    background-color: $color-transparent;
  }

  input:checked + & {
    &::before {
      background-color: $color-dodger-blue;
      border-color: $color-dodger-blue;
    }

    &::after {
      background-color: $color-default-white;
    }
  }

  @include hover-focus {
    &::before {
      border-color: $color-arapawa;
    }

    input:checked + & {
      &::before {
        background-color: $color-arapawa;
        border-color: $color-arapawa;
      }
    }
  }
}

.registration__agreement-link {
  text-decoration: underline;
  color: $color-dodger-blue;

  transition: color $trans-default;

  @include hover-focus {
    color: $color-arapawa;
  }
}

.registration__submit-btn {
  width: calc(50% - 20px);

  @include vp-767 {
    width: 100%;
    max-width: 280px;
  }
}
